/**================================================
/**                    BASE                       =
/**==============================================*/
@tailwind base;
@layer base {
  /* TODO: universally remove all outlines on focus ?? */
  * {
    @apply antialiased;
  }
  /* :where(*) {
    @apply motion-safe:transition-colors;
    @apply motion-safe:duration-300;
  } */

  html,
  body,
  #__next {
    @apply h-full;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-clr-bg-base;
    @apply text-clr-text-base;
    /* @apply motion-safe:transition-colors;
    @apply motion-safe:duration-300; */
  }

  #__next {
    @apply isolate;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  button,
  nav * {
    @apply select-none;
  }
}

/**================================================
/**                 COMPONENTS                    =
/**==============================================*/
@tailwind components;

/**================================================
/**                 UTILITIES                     =
/**==============================================*/
@tailwind utilities;

/**================================================
/**               GLOBAL VARIABLES                =
/**==============================================*/
@layer base {
  :root {
    /* LAYOUT */
    /* TODO: these should maybe just exist in the MaxWidth component */
    --content-max-width: 64rem;
    --content-padding-inline: theme(spacing.8);
    /* HEADER */
    --header-height: theme(spacing.12);
  }
}
