/**================================================
/**                    BASE                       =
/**==============================================*/
@tailwind base;
@layer base {
  /* TODO: universally remove all outlines on focus ?? */
  *:focus {
    @apply outline-none;
  }

  :where(*) {
    @apply antialiased;

    @apply motion-reduce:!animate-none;
    @apply motion-reduce:!transition-none;

    transition-property: background-color, border-color;
    transition-duration: 150ms;
  }

  :where(html, body, #__next) {
    @apply h-full;
  }

  :where(html) {
    @apply scroll-smooth;
  }

  :where(body) {
    @apply overscroll-none bg-surfaceClr-1 text-textClr-1;
  }

  :where(#__next) {
    @apply isolate flex flex-col;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    @apply font-display;
  }

  :where(button, nav *) {
    @apply select-none;
  }

  /** OVERRIDE TAILWIND PREFLIGHT */
  button,
  select {
    text-transform: inherit;
    letter-spacing: inherit;
  }
}

/**================================================
/**                 COMPONENTS                    =
/**==============================================*/
@tailwind components;

/**================================================
/**                 UTILITIES                     =
/**==============================================*/
@tailwind utilities;

/**================================================
/**               GLOBAL VARIABLES                =
/**==============================================*/
