.wrapper {
  margin-inline-end: 32px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: 24px;
  color: var(--color-body-text);
  height: 100%;
  display: flex;
  align-items: center;
}
