.link {
  --spacing: 10px;

  position: relative;
  padding: var(--spacing);
  color: var(--color-body-text);
  font-family: var(--ff-primary);
  font-weight: var(--fw-semi-bold);
  font-size: 0.9rem;
  text-transform: uppercase;

  &::after {
    bottom: 0.5em;
    content: '';
    display: block;
    background-color: currentColor;
    height: 2px;
    left: var(--spacing);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-out;
    width: calc(100% - calc(2 * var(--spacing)));
  }
}

.inactiveLink {
  composes: link;

  @media (hover: hover) {
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}

.activeLink {
  composes: link;

  &::after {
    transform: scaleX(1);
  }
}
